body {
    background-color: black;
    background-image: var(--bg-main);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--text-main);
    font-size: var(--font-size-m);
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: var(--glass-colour);
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: var(--glass-blur);
    color: var(--text-main);
    padding: 1rem 0;
}

.nav-container {
    padding: 0 var(--pad-m-x);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand img {
    display: block;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-main);
    font-weight: var(--font-weight-m);
}
/* NAVBAR END */

/* HERO */
#homepage-hero {
    background: var(--glass-colour);
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: var(--glass-blur);
    border-top: var(--glass-border);
    border-bottom: var(--glass-border);
    color: var(--text-main);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    text-align: center;
}

.hero-text a{
    text-decoration: none;
    color: var(--text-main);
}

