@import url("theme.css");
@import url("base.css");

.navbar {
    width: 100%;
    background: var(--glass-colour);
    color: var(--text-main);
    padding: 1rem 0;
}

.nav-container {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand img {
    display: block;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-main);
    font-weight: var(--font-weight-m);
}